[Unit]
Description=Periodically synchronize Seagull agent CA bundle

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
Persistent=true
Unit=seagull-agent-ca-sync.service

[Install]
WantedBy=timers.target
